<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Промоции</title>
    <style>
        #promotion_header_video{
            width: 50%;
        }
         
    </style>
</head>
<body>
        <video id="promotion_header_video"  autoplay muted loop controls>
                <source src="The Ultimate Travel Company.mp4" type='video/mp4'>
                
                </video>
    
    
</body>
</html>